<div class="mx-5">
  <h1 *ngIf="isTutorialPage" class="mb-8 text-3xl font-bold">Tutorial</h1>
  <ol
    class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
  >
    <li
      class="flex md:w-full items-center cursor-pointer"
      [class.text-blue-600]="currentStep === 1"
      [class.dark:text-blue-500]="currentStep === 1"
      [class.after:border-blue-600]="currentStep === 1"
      [class.dark:after:border-blue-500]="currentStep === 1"
      (click)="onStepChange(1)"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
      >
        <span class="me-2">1</span>
        <span class="hidden sm:inline-flex sm:ms-2">Text segmentation</span>
      </span>
    </li>
    <li
      class="flex md:w-full items-center cursor-pointer"
      [class.text-blue-600]="currentStep === 2"
      [class.dark:text-blue-500]="currentStep === 2"
      [class.after:border-blue-600]="currentStep === 2"
      [class.dark:after:border-blue-500]="currentStep === 2"
      (click)="onStepChange(2)"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
      >
        <span class="me-2">2</span>
        <span class="hidden sm:inline-flex sm:ms-2"
        >Digitalization of text</span
        >
      </span>
    </li>
    <li
      class="flex md:w-full items-center cursor-pointer"
      [class.text-blue-600]="currentStep === 3"
      [class.dark:text-blue-500]="currentStep === 3"
      [class.after:border-blue-600]="currentStep === 3"
      [class.dark:after:border-blue-500]="currentStep === 3"
      (click)="onStepChange(3)"
    >
      <span class="me-2">3</span>
      <span class="hidden sm:inline-flex sm:ms-2">Select pair</span>
    </li>
    <li
      class="flex md:w-full items-center cursor-pointer"
      [class.text-blue-600]="currentStep === 4"
      [class.dark:text-blue-500]="currentStep === 4"
      [class.after:border-blue-600]="currentStep === 4"
      [class.dark:after:border-blue-500]="currentStep === 4"
      (click)="onStepChange(4)"
    >
      <span class="me-2">4</span>
      <span class="hidden sm:inline-flex sm:ms-2">Decrypted result</span>
    </li>
    <!--    <li-->
    <!--      class="flex md:w-full items-center cursor-pointer"-->
    <!--      [class.text-blue-600]="currentStep === 6"-->
    <!--      [class.dark:text-blue-500]="currentStep === 6"-->
    <!--      [class.after:border-blue-600]="currentStep === 6"-->
    <!--      [class.dark:after:border-blue-500]="currentStep === 6"-->
    <!--      (click)="onStepChange(6)"-->
    <!--    >-->
    <!--      <span class="me-2">6</span>-->
    <!--      Decipher-->
    <!--    </li>-->
    <!--    <li-->
    <!--      class="flex md:w-full items-center cursor-pointer"-->
    <!--      [class.text-blue-600]="currentStep === 7"-->
    <!--      [class.dark:text-blue-500]="currentStep === 7"-->
    <!--      [class.after:border-blue-600]="currentStep === 7"-->
    <!--      [class.dark:after:border-blue-500]="currentStep === 7"-->
    <!--      (click)="onStepChange(7)"-->
    <!--    >-->
    <!--      <span class="me-2">7</span>-->
    <!--      Result-->
    <!--    </li>-->
  </ol>

  <div class="mt-10">
    <ng-container *ngIf="currentStep === 1">
      <app-s2t-segmentation #s3tDecrypt [areas]="areas"></app-s2t-segmentation>
    </ng-container>
    <ng-container *ngIf="currentStep === 2">
      <app-s3t-decrypt [backendText]="decryptedTextTextJson"></app-s3t-decrypt>
    </ng-container>
    <ng-container *ngIf="currentStep === 3">
      <app-s4-decipher (keyId)="handleKeyId($event)" (textId)="handleTextId($event)" (keyHash)="handleKeyHash($event)"
                       (textHash)="handleTextHash($event)"></app-s4-decipher>
    </ng-container>
    <ng-container *ngIf="currentStep === 4">
      <app-s5-decipher-result [decryptedText]="finalDecryptedText" [keyHash]="finalKeyHash" [textHash]="finalTextHash"></app-s5-decipher-result>
    </ng-container>
  </div>
  <div class="flex justify-end mt-10">
    <button
      class="mr-4 text-white bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      *ngIf="currentStep !== 1"
      (click)="onBack()"
    >
      Back
    </button>
    <button
      class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      *ngIf="currentStep !== 4"
      (click)="onNext()"
    >
      Next
    </button>

    <button
      class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      *ngIf="currentStep == 4"
      (click)="finish()"
    >
      Finish
    </button>
  </div>
</div>
