<div class="mx-5">
  <h1 *ngIf="isTutorialPage" class="mb-8 text-3xl font-bold">Tutorial</h1>
  <ol
    class="flex items-center w-full text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base"
  >
    <li
      class="flex md:w-full items-center cursor-pointer"
      [class.text-blue-600]="currentStep === 1"
      [class.dark:text-blue-500]="currentStep === 1"
      [class.after:border-blue-600]="currentStep === 1"
      [class.dark:after:border-blue-500]="currentStep === 1"
      (click)="onStepChange(1)"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
      >
        <span class="me-2">1</span>
        <span class="hidden sm:inline-flex sm:ms-2">Key segmentation</span>
      </span>
    </li>
    <li
      class="flex md:w-full items-center cursor-pointer"
      [class.text-blue-600]="currentStep === 2"
      [class.dark:text-blue-500]="currentStep === 2"
      [class.after:border-blue-600]="currentStep === 2"
      [class.dark:after:border-blue-500]="currentStep === 2"
      (click)="onStepChange(2)"
    >
      <span
        class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200 dark:after:text-gray-500"
      >
        <span class="me-2">2</span>
        <span class="hidden sm:inline-flex sm:ms-2">Key decryption</span>
      </span>
    </li>
  </ol>

  <div class="mt-10">
    <!--    <ng-container *ngIf="currentStep === 1">-->
    <!--      <app-s2k-upload (selectedFile) = helpSetSelectedFile($event)></app-s2k-upload>-->
    <!--    </ng-container>-->
    <ng-container *ngIf="currentStep === 1">
      <app-s3k-segmentation-decrypt #s3kDecrypt></app-s3k-segmentation-decrypt>
    </ng-container>
    <ng-container *ngIf="currentStep === 2">
      <app-s2k-decrypt [backendText]="(decryptedKeyTextJson)"></app-s2k-decrypt>
    </ng-container>
    <!--    <ng-container *ngIf="currentStep === 4">-->
    <!--      <app-s2k-upload></app-s2k-upload>-->
    <!--    </ng-container>-->
    <!--    <ng-container *ngIf="currentStep === 5">-->
    <!--      <app-s3k-segmentation-decrypt></app-s3k-segmentation-decrypt>-->
    <!--    </ng-container>-->
    <!--    <ng-container *ngIf="currentStep === 6">-->
    <!--      <app-s4-decipher></app-s4-decipher>-->
    <!--    </ng-container>-->
    <!--    <ng-container *ngIf="currentStep === 7">-->
    <!--      <app-s5-decipher-result></app-s5-decipher-result>-->
    <!--    </ng-container>-->
  </div>
  <div class="flex justify-end mt-10">
    <button
      class="mr-4 text-white bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      *ngIf="currentStep !== 1"
      (click)="onBack()"
    >
      Späť
    </button>
    <button
      class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      *ngIf="currentStep !== 2"
      (click)="onNext()"
    >
      Ďalej
    </button>
  </div>
</div>
