<div class="flex justify-center">
  <div class="flex w-full max-w-8xl mt-8 space-x-8">
    <div class="bg-gray-100 rounded-lg shadow-inner flex-1">
      <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">My Texts</h2>
        <div class="overflow-x-auto">
          <table class="w-full table-fixed">
            <thead>
              <tr>
                <th class="w-1/6 border-b-2">Type</th>
                <th class="w-2/6 border-b-2">Title</th>
                <th class="w-2/6 border-b-2">Creation Date</th>
                <th class="w-1/6 border-b-2">Public/Private</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of documentTexts">
                <td class="text-center">{{ item.type }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.creationDate }}</td>
                <td class="text-center">{{ item.isPublic }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="bg-gray-100 rounded-lg shadow-inner flex-1">
      <div class="p-6">
        <h2 class="text-2xl font-bold mb-4">My Keys</h2>
        <div class="overflow-x-auto">
          <table class="w-full table-fixed">
            <thead>
              <tr>
                <th class="w-1/6 border-b-2">Type</th>
                <th class="w-2/6 border-b-2">Title</th>
                <th class="w-2/6 border-b-2">Creation Date</th>
                <th class="w-1/6 border-b-2">Public/Private</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of documentKeys">
                <td class="text-center">{{ item.type }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.creationDate }}</td>
                <td class="text-center">{{ item.isPublic }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
